/* Estilos generales */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  radial-gradient(#0c0e3d 0.5px, transparent 0.5px), radial-gradient(#0c0e3d 0.5px, #206b8c 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    font-family: 'Roboto', sans-serif;
}

/*
body {
    background-image: linear-gradient(45deg, transparent 20%, rgb(128, 128, 128) 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 20%, gray 25%, transparent 25%), 
                      linear-gradient(-45deg, transparent 75%, gray 80%, transparent 0),
                      radial-gradient(rgb(122, 122, 174) 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
    font-family: 'Roboto', sans-serif;
  }
  */

  .header {
      color: white;
      padding: 2rem 0;
  }

  .header a {
    color: white;
    text-decoration: none;
}

.logo-nav-container {
display: flex;
justify-content: space-between;
}

.logo {
    letter-spacing: 15px;
    font-size: 1.3em;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.4rem 1rem;
    transition: all 0.3s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: #597998;
}


/* HEADER */

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}

/* CONTAINER */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    /* grid-template-columns: repeat(4, 1fr) 3%; */
    grid-template-columns: repeat(5, 1fr);
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background: #11405f;
    padding: 20px;
    border: 1px solid #000000;
}

.container>.header, .container>.footer {
    grid-column: 1/-1;
    background-color: #182530;
    color: #f6eaea;
}

.container>.content {
    grid-column: span 3;
    grid-row: span 3;
}

.content>.article {
    background: #597998;
    padding: 20px;
    margin-top: 15px;
    color: #dfe6e9
}

.content .article h1,
.content .article img,
.content .article p {
    padding: 10px;
}

.content .article h1 {
    color: #e4eaee;
    font-weight: bolder;
    text-shadow: #dfe6e9;
}

.container>.sidebar {
    grid-column: span 2;
    grid-row: span 3;
    background: #0b2c4d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar img,
.container .sidebar p {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    align-items: center;
}

.container .sidebar a {
    color: white;
    text-decoration: none;
}

.container>.related-post {
    background: #11405f;
    color: #ffffff;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #dadada;
    
}

.footer {
  color: rgb(245, 239, 239);
  text-align: center;
  border: 1px solid black;
}

.redes a {
   color:rgb(244, 249, 249);
   padding: 0.5rem 1px;
}



/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
}

/* Para 412px */  
@media only screen and (max-width: 412px) {  
    .header {
        text-align: center;
    }
    .container {
        width: 380px;
        max-width: 400px;
        margin: 1.5em auto;
    }
    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
} 

/* Para 1280px */  
@media only screen and (max-width: 1200px) {  
    .header {
        text-align: center;
    }
    .container {
        width: 100%;
        max-width: 1200px;
    }

    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
} 